In [2]:
import numpy as np
from alphabet import Alphabet

In [3]:
alefs = [ "ا", "أ", "آ", "إ" ]

In [4]:
chars = ' ABCDEFGHIJKLMNOPQRSTUVWXYZÀÁÂÃÄÅÆÇÈÉÊËÌÍÎÏÐÑÒÓÔÕÖ×ØÙÚÛÜÝÞßàáâãäåæçèéêëìíîïðñòóôõö÷øùúûüýþÿĀāĂăĄąĆćĈĉĊċČčĎďĐđĒēĔĕĖėĘęĚěĜĝĞğĠġĢģĤ0123456789!"%(),./:=?[]«»،؛؟-+*'

In [6]:
letters = {}
letters_positions={}
with open('letters.csv','r', encoding='utf-8') as inf:
    for line in inf:
        key,val=line.split(',')
        letters[key]=val.strip()
letters[',']=','
with open('letters_positions.csv','r', encoding='utf-8') as inf:
    for idx,line in enumerate(inf):       
        letters_positions[line.strip()]=idx

In [7]:
def is_two_pos(txt):
    return txt in  [ "أ", "ا", "إ", "آ", "ؤ", "د", "ذ", "ر", "ز", "و", "ة", "ء", "لا", "لأ", "لآ", "لإ","ا" ]

In [8]:
def is_isoleted(txt):
    return txt in ['0','1','2','3','4','5','6','7','8','9','!','"','%','(',')',',','.','/',':','=','?','[',']','«','»','،','؛','؟','–','+',' ','ء','.',',',':',' ']

In [9]:
def get_letter_position( cur,  pre =None, nex = None):
    if pre == None and nex==None:
        return ''
    if is_isoleted(cur):
        return ''
    if is_two_pos(cur):
        if is_two_pos(pre) or pre == None or is_isoleted(pre):
            return ''
        else:
            return "_E"
    else:
        if pre != None and nex!=None and not is_two_pos(pre) and not is_isoleted(nex) and not is_isoleted(pre):
            return '_M'
        elif (pre == None or is_isoleted(pre)   or is_two_pos(pre)  ) and (nex != None and not is_isoleted(nex)  ):
            return '_S'
        elif (nex ==None or  is_isoleted(nex) ) and not (is_two_pos(pre) or is_isoleted(pre) ):
            return '_E'
    return ''

In [10]:
text=' امن بة كثير من الرجال والنساء والغلام'

In [15]:
def text2label(text): 
    encoded=''
    pre=None
    nex=None
    cont=False
    if len(text)==1:
        encoded=chars[letters_positions[letters[text]]]
        return encoded
    for idx,cur in enumerate(text):    
        if cont:
            cont=False
            continue
        if(len(text)==1):
            print(letters_positions[letters[text]])
        if idx == 0 :
            pre=None
            nex=text[idx+1]
        elif idx==len(text)-1:
            pre=text[idx-1]
            nex=None
        else:
            pre=text[idx-1]
            nex=text[idx+1]
            
        if cur=='ل' and nex in alefs:
            cur=cur+nex
            cont=True
            if idx+1==len(text)-1:
                nex=None
            else:
                nex=text[idx+2]
        encoded=encoded+chars[letters_positions[letters[cur] + get_letter_position(cur, pre, nex)]]
    return encoded
    #     print('pre:'+str(pre)+',cur:'+cur+',nex:'+str(nex))

In [12]:
text2label(text)

' NĈĎ QU ĀÁěÔ ĈĎ NĄÔÄOă ēNĄčÙOA ēNĄõĞć'

In [13]:
import pandas as pd

In [17]:
df['labels']=df['text'].apply(lambda x:text2label(x))

In [14]:
df=pd.read_csv('labels.csv')

  file_name                  text
0     1.txt  ذهب احمد الى المدرسة
1     2.txt               الانسان
2     3.txt         اللغة العربية

In [18]:
df.head()

  file_name                  text                labels
0     1.txt  ذهب احمد الى المدرسة  ÑĐS NÈĉÐ NĄĘ NĄĉÐÓØU
1     2.txt               الانسان                NĝČÙOċ
2     3.txt         اللغة العربية         NĄąõU NĄñÔQěU

In [24]:
#write labels to files to be placed as pairs with feature file e.g  1_input.npy  as feature and 1_target.npy as label
alphabet=Alphabet('alphabet.txt')
for idx,row in df.iterrows():
    print(alphabet.encode(row['labels']))
    np.save('inputs/'+row['file_name'].replace('.txt','_target.npy'),alphabet.encode(row['labels']))

[44, 107, 19, 0, 14, 35, 100, 43, 0, 14, 95, 115, 0, 14, 95, 100, 43, 46, 51, 21]
[14, 120, 103, 52, 15, 102]
[14, 95, 96, 80, 21, 0, 14, 95, 76, 47, 17, 118, 21]

In [ ]:
alphabet.encode('')